body{
    text-align: center;
    font-family: Helvetica, sans-serif;
}
h1{
    font-size:42px ;
}
/* Botões*/

#buttons-container button{
    border: none;
    padding: 12px 15px;
    margin: 0 10px 20px;
}
/*Jogo de Velha*/
#container{
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box{
    height: 100px;
    border: 5px solid #000000;
    box-sizing: border-box; /* largura contando cm as bordas*/
    flex: 1 1 33%;  
}

#block-11, #block-12, #block-13{
    border-top: none;
}
#block-11, #block-21, #block-31{
    border-left: none;
}

#block-13, #block-23, #block-33{
   border-right: none;
}
#block-31, #block-32, #block-33{
    border-bottom: none ;
}

/* simbolos*/

.x{
    font-size: 65px;
    color: red;
    display: inline-block;
    line-height: 100px;
    
}   
.o{
    width: 42px;
    height: 42px;
    border: 5px solid green;
    border-radius: 50%; /* vai chanfrar as bordas até virar uma bola*/
    display: inline-block;
    margin-top: 15px; /* sua margem do top*/
}

/* class hide*/

.hide{
    display:none !important;

}

/*placas*/

#scoreboard-container{
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.score-box{
    margin: 0px 20px;
}
#x-scorebox{
    color:red;
    margin-right: 3px;

}
#o-scorebox{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid green;
    border-radius: 50%;
    margin-right: 3px;
}

/*Mensagens*/

#message p{
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: 500px;
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 20px;
    
}